header {
    margin: 0 !important
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}

@media all and (max-width: 1100px){
    main {
        width: 90%;
    }

}
